---
import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";
import type { Proverb } from "../types/proverb.ts";
import { PROVERBS_DATA } from "../data/proverbs.js";

const refranes = PROVERBS_DATA as Proverb[];
const refran = refranes[Math.floor(Math.random() * refranes.length)];
---

<Layout title="Refranero Español" description="">
    <main class="container max-w-3xl mx-auto">
        <Quote
            tags={refran.tags}
            meaning={refran.meaning}
            type={refran.proverb_type}
            usable={refran.usable}
            href={`/refran/${refran.id}`}
        >
            {refran.proverb}
        </Quote>
    </main>
</Layout>
