---
import faviconico from '../public/favicon.ico';
import favicon16x16 from '../public/favicon-16x16.png';
import favicon32x32 from '../public/favicon-32x32.png';
import appleTouchIcon from '../public/apple-touch-icon.png';
import siteWebmanifest from '../public/site.webmanifest';
import metaimage from '../public/metaimage.png';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, ogimage} = Astro.props;
---
<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<meta name="author" content="David Amrani (@davidmoremad)" />
<meta name="keywords" content="refran, refranero, refranes, proverbio, lenguaje, idioma, español, castellano, dichos, citas, popular" />
<meta name="canonical" content={canonicalURL} />
<meta name="robots" content="index, follow" />

<title>{title}</title>

<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />

<!-- Favicons -->
<link rel="icon" type="image/x-icon" href={faviconico} />
<link rel="icon" type="image/png" sizes="16x16" href={favicon16x16.src} />
<link rel="icon" type="image/png" sizes="32x32" href={favicon32x32.src} />
<link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
<link rel="manifest" href={siteWebmanifest} />

<!-- OpenGraph (requires absolute routes) -->
<meta property="og:title" content={title} />
<meta property="og:type" content="article" />
<meta property="og:url" content={`${Astro.url.origin}${Astro.url.pathname}`} />
<meta property="og:image" content={ ogimage ? `${Astro.url.origin}${ogimage}` : `${Astro.url.origin}${metaimage.src}`} />
<meta property="og:description" content={description} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:site" content="@davidmoremad" />
<meta name="twitter:image" content={ ogimage ? `${Astro.url.origin}${ogimage}` : `${Astro.url.origin}${metaimage.src}`} />
<meta name="twitter:image:alt" content="Imagen del sitio web Refranero Español" />