---
import TagButton from "./TagButton.astro";
const { tags, meaning, href, comments, observations, type, usable } = Astro.props;
---

<article class="w-auto mx-2 p-10 my-6 bg-white border-b-2 border-stone-400 rounded-lg shadow-2xl shadow-stone-400/90" 
>
    <section class="flex flex-row gap-2 flex-wrap justify-center items-center">
        {tags.map((tag) => (
            <TagButton href={`/etiqueta/${tag}`} text={tag} theme="light" />
            ))
        ?? ""}
    </section>

    <h1 class="my-10 text-3xl font-bold tracking-tight text-center text-stone-900">
        {href ? ( <a href={href}><slot /></a>) : (<slot />)}
    </h1>

    <p class="font-normal text-neutral-600 border-b-2 pb-7 mb-7 border-stone-200">
        {meaning}
    </p>

    <section class="flex flex-col gap-2 text-stone-600">
        {type ? <p><strong class="font-bold">Tipo: </strong>{type}</p> : ""}
        {usable ? <p><strong class="font-bold">Uso: </strong>{usable}</p> : ""}
        {comments ? <p><strong class="font-bold">Comentarios: </strong>{comments}</p> : ""}
        {observations ? <p><strong class="font-bold">Observaciones: </strong>{observations}</p> : ""}
    </section>

</article>
