---
import Layout from "../../layouts/Layout.astro";
import BigQuote from "../../components/BigQuote.astro";
import type { Proverb } from "../../types/proverb.js";
import { PROVERBS_DATA } from "../../data/proverbs.js";

const refranes = PROVERBS_DATA as Proverb[];
const { slug } = Astro.params as { slug: string };

const refran = refranes.find((refran) => refran.slug === slug);
if (!refran) {
    throw new Error(`Refran not found`);
}

export function getStaticPaths() {
    const allSlugs = PROVERBS_DATA.map((refran) => refran.slug);
    return allSlugs.map((slug) => ({ params: { slug: slug } }));
}
---

<Layout title={refran.proverb} description={refran.meaning}>
<main class="container max-w-3xl mx-auto">
    <BigQuote
        tags={refran.tags}
        meaning={refran.meaning}
        type={refran.proverb_type}
        usable={refran.usable}
        comments={refran.comments}
        observations={refran.observations}
    >
        {refran.proverb}
    </BigQuote>
</main>
</Layout>
