---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

import faviconico from '../public/favicon.ico';
import siteWebmanifest from '../public/site.webmanifest';

interface Props {
	title: string;
	description: string;

}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="David Amrani Hernandez" />
		<meta name="keywords" content="refran, refranero, refranes, proverbio, lenguaje, idioma, español, castellano, dichos, citas, popular" />
		<meta name="canonical" content={Astro.url} />

		<title>{title}</title>
		<!-- Favicons -->
		<link rel="icon" type="image/x-icon" href={faviconico} />
		<link rel="icon" type="image/png" sizes="16x16" href="/src/public/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/src/public/favicon-32x32.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/src/public/apple-touch-icon.png" />
		<link rel="manifest" href={siteWebmanifest} />

		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />


		<ViewTransitions />
	</head>
	<body class="font-serif bg-stone-200">
		<Header />
		<slot />
		<Footer />
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
			::-moz-selection {
				/* Code for Firefox */
				background: #bfb5a6;
			}

			::selection {
				background: #bfb5a6;
			}
		</style>
	</body>
</html>
